replicaCount: 1
image:
  repository: armansaa/devops-test-pena
  tag: node.prod-6220629-260202003002 # {"$imagepolicy": "flux-system:node-app:tag"}
service:
  type: ClusterIP
  port: 80
  targetPort: 3000
  annotations:
    cloud.google.com/neg: '{"ingress": true}'

ingress:
  enabled: true
  className: gce
  annotations: {}
  host: ""
  path: /
  pathType: Prefix

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 80
  # qps:
  #   enabled: true
  #   metricName: http_requests_per_second
  #   targetAverageValue: "20"
resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "200m"
