alertmanager:
  enabled: false

grafana:
  enabled: true
  adminUser: admin
  adminPassword: admin12345
  service:
    type: LoadBalancer

kubeProxy:
  enabled: false
kubeScheduler:
  enabled: false
kubeControllerManager:
  enabled: false
kubeEtcd:
  enabled: false
kubelet:
  enabled: false

nodeExporter:
  enabled: false

coreDns:
  enabled: false

prometheusOperator:
  kubeletService:
    enabled: false
  kubeletEndpointsEnabled: false
  kubeletEndpointSliceEnabled: false

prometheus:
  prometheusSpec:
    retention: 24h
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
