alertmanager:
  enabled: false

grafana:
  enabled: true
  adminUser: admin
  adminPassword: admin12345
  service:
    type: LoadBalancer

prometheus:
  prometheusSpec:
    retention: 24h
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
