alertmanager:
  enabled: false

grafana:
  enabled: true
  adminUser: admin
  adminPassword: admin12345
  service:
    type: LoadBalancer

# Autopilot: Don't scrape/control/manage core k8s components
kubeProxy:
  enabled: false
  service:
    enabled: false

kubeScheduler:
  enabled: false
kubeControllerManager:
  enabled: false
kubeEtcd:
  enabled: false
kubelet:
  enabled: false

nodeExporter:
  enabled: false

coreDns:
  enabled: false

prometheusOperator:
  kubeletService:
    enabled: false
  kubeletEndpointsEnabled: false
  kubeletEndpointSliceEnabled: false

prometheus:
  prometheusSpec:
    retention: 24h
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false

    # Scrape ServiceMonitor/PodMonitor in namespace apps
    serviceMonitorNamespaceSelector:
      matchNames:
        - monitoring
        - helm-app
        - raw-app
    podMonitorNamespaceSelector:
      matchNames:
        - monitoring
        - helm-app
        - raw-app

  
    serviceMonitorSelector: {}
    podMonitorSelector: {}

