apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-adapter
  namespace: flux-system
spec:
  interval: 5m
  targetNamespace: monitoring
  dependsOn:
    - name: kube-prometheus-stack
      namespace: flux-system
  install:
    createNamespace: true
  chart:
    spec:
      chart: prometheus-adapter
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  valuesFrom:
    - kind: ConfigMap
      name: monitoring-values
      valuesKey: prometheus-adapter-values.yaml
