replicaCount: 2

image:
  repository: gcr.io/<PROJECT_ID>/node-app
  tag: latest # {"$imagepolicy": "flux-system:node-app:tag"}

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

ingress:
  enabled: false
  className: ""
  annotations: {}
  host: ""
  path: /
  pathType: Prefix

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 80
  qps:
    enabled: false
    metricName: http_requests_per_second
    targetAverageValue: "20"

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "200m"
