name: Build and Push

on:
  push:
    branches: [main]
    paths: ['app/**']

env:
  APP_NAME: node

jobs:
  build:
    if: contains(github.event.head_commit.message, 'build') || contains(github.event.head_commit.message, 'deploy_all')
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and Push
      run: |
        cd app
        if [ "${GITHUB_REF_NAME}" = "main" ]; then
          ENV_NAME=prod
        else
          ENV_NAME=dev
        fi
        IMAGE_VERSION="$(git rev-parse --short HEAD)-$(date +%y%m%d%H%M%S)"
        IMAGE_TAG="${APP_NAME}.${ENV_NAME}-${IMAGE_VERSION}"
        IMAGE_PATH="${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.DOCKERHUB_REPO }}"
        docker build -t "${IMAGE_PATH}:${IMAGE_TAG}" .
        docker push "${IMAGE_PATH}:${IMAGE_TAG}"
